<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') -%>
</head>

<body>
    <%- include('partials/nav') -%>

        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 class="text-center my-5">Apple CEOs</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <ul class="list-group w-100">
                        <% ceos.forEach((ceo)=> { %>
                            <a class="list-group-item" href="/ceos/<%= ceo.slug %> ">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">
                                        <%= ceo.name %>
                                    </h5>
                                    <small>
                                        <%= ceo.year %>
                                    </small>
                                </div>
                            </a>
                            <% }) %>
                    </ul>
                </div>
            </div>
        </div>
</body>

</html>